RecipeWizard/bin
RecipeWizard/obj
RecipeWizard.DB/bin
RecipeWizard.DB/obj
RecipeWizard.DB/RecipeWizard.DB.publish.xml
RecipeWizard.DB/RecipeWizard.DB.dbmdl
*.dacpac
.vs/RecipeWizard/v16/.suo
.vs/
*.pubxml
RecipeWizard.DB/RecipeWizard.DB.dbmdl
RecipeWizard.DB/RecipeWizard.DB.dbmdl
RecipeWizard/Properties/PublishProfiles/FolderProfile.pubxml.user
